<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    <button id="button-discord">Discord</button>
    <script>
      window.addEventListener("DOMContentLoaded", () => {
        const discordButton = document.getElementById("button-discord");

        discordButton.addEventListener("click", () => {
          window.location.href = "/auth/discord";
        });
      });
    </script>
  </body>
</html>
